body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// Green family
$green-default: rgb(55, 180, 53);
$green-darker: rgb(46, 150, 44);

// Grey family
$grey-default: rgb(91, 91, 91);
$grey-lighter: rgb(180, 180, 180);
$grey-darker: rgb(59, 59, 59);

// Font size
$font-size-default: 14px;
$font-size-medium: 21px;
